body {
  width: 100%;
  height: auto;
  overflow-x: hidden;
  margin: 0;
  padding: 0;
}

.outline {
  width: 100%;
  height: auto;
  background-color: #de3e2f;
  font-family: tahoma;
  padding: 100px;
  color: #ffffff;
}

.outline .container {
  position: relative;
  max-width: 600px;
  height: auto;
  border: 2px solid #ffffff;
  margin: auto;
  padding: 30px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.outline .container:after {
  position: absolute;
  width: 50px;
  height: 50px;
  border-right: 2px solid #ffffff;
  border-bottom: 2px solid #ffffff;
  top: 100%;
  left: 50%;
  margin-left: -25px;
  content: "";
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
  margin-top: -24px;
  background-color: #de3e2f;
}

.new-anim {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: tahoma;
  width: 100%;
  height: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  min-height: 100vh;
  background-color: #000000;
}

.new-anim .square {
  position: relative;
  width: 400px;
  height: 400px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.new-anim .square span:nth-child(2) {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border: 2px solid #fff;
  border-radius: 38% 62% 63% 37% / 41% 44% 56% 59%;
  -webkit-transition: all 500ms ease;
  transition: all 500ms ease;
  -webkit-animation: animate 4s linear infinite;
          animation: animate 4s linear infinite;
}

.new-anim .square:hover span:nth-child(2) {
  border: none;
  background-color: green;
}

.new-anim .square span:nth-child(3) {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border: 2px solid #fff;
  border-radius: 38% 62% 63% 37% / 41% 44% 56% 59%;
  -webkit-transition: all 500ms ease;
  transition: all 500ms ease;
  -webkit-animation: animate 6s linear infinite;
          animation: animate 6s linear infinite;
}

.new-anim .square:hover span:nth-child(3) {
  border: none;
  background-color: #ffffff;
}

.new-anim .square span:nth-child(4) {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border: 2px solid #fff;
  border-radius: 38% 62% 63% 37% / 41% 44% 56% 59%;
  -webkit-transition: all 500ms ease;
  transition: all 500ms ease;
  -webkit-animation: animate 10s linear infinite;
          animation: animate 10s linear infinite;
}

.new-anim .square:hover span:nth-child(4) {
  border: none;
  background-color: orangered;
}

.new-anim .square span:nth-child(1) {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border: 2px solid #fff;
  border-radius: 38% 62% 63% 37% / 41% 44% 56% 59%;
  -webkit-transition: all 500ms ease;
  transition: all 500ms ease;
  -webkit-animation: animate 2s linear infinite;
          animation: animate 2s linear infinite;
}

.new-anim .square:hover span:nth-child(1) {
  border: none;
  background-color: blue;
}

@-webkit-keyframes animate {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

@keyframes animate {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

@-webkit-keyframes animate2 {
  0% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
  100% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
}

@keyframes animate2 {
  0% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
  100% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
}

.new-anim .square .content {
  position: relative;
  padding: 40px 60px;
  color: #fff;
  text-align: center;
  -webkit-transition: all 500ms ease;
  transition: all 500ms ease;
  z-index: 9;
}

.new-anim .square .content a {
  position: relative;
  display: inline-block;
  margin-top: 10px;
  border: 2px solid #fff;
  padding: 6px 18px;
  text-decoration: none;
  color: #fff;
  font-weight: 600;
  border-radius: 73% 27% 44% 56% / 49% 44% 56% 51%;
}

.new-anim .square .content a:hover {
  background-color: #fff;
  color: #333;
}
/*# sourceMappingURL=anims.css.map */